apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: test-alert
  namespace: monitoring
spec:
  groups:
  - name: test.rules
    rules:
    - alert: AlwaysFiring
      expr: vector(1)
      labels:
        severity: critical
      annotations:
        summary: "This is a test alert"
