- name: Printing ansible distribution
  hosts: t1
  tasks:
    - name: Print
      debug:
        var: ansible_distribution

    - name: Install httpd service Ubuntu
      apt:
        name: apache2
        state: present
      when: ansible_distribution == 'Ubuntu'

    - name: write the apache config file
      template:
        src: files/apache2.conf
        dest: /etc/apache2/apache2.conf
      notify:
      - Restart apache2

    - name: Ensure apache is running
      service:
        name: apache2
        state: started

  handlers:
    - name: Restart apache2
      service:
        name: apache2
        state: restarted

    - name: Install tools
      apt:
        name: "{{ item }}"
        state: absent
      when: ansible_distribution == 'Ubuntu'
      loop:
        - htop
        - wget
        - tree
        - git
